DB_USER     =postgres
DB_HOST     =localhost
DB_NAME     =TuNombreDeBBDD
DB_PASSWORD =TuContraseñaDeSeg
DB_PORT     =5432

# URL de conexión directa (Requerida para Render/Supabase)
# DATABASE_URL=postgres://usuario:contraseña@servidor:puerto/nombre_bd

# Secreto para JWT
JWT_SECRET =LaTremendaNiQueClaveDeSeguridad123
