DB_USER     =postgres
DB_HOST     =localhost
DB_NAME     =TuNombreDeBBDD
DB_PASSWORD =TuContraseñaDeSeg
DB_PORT     =5432

# URL de conexión directa (Requerida para Vercel/Supabase)
DB_URI=postgres://usuario:TuContraseñaDeSeg@servidor:puerto/TuNombreDeBBDD

# Secreto para JWT
JWT_SECRET=TuClaveSecretaParaKanban2026!
