DB_USER     =postgres
DB_HOST     =localhost
DB_NAME     =TuNombreDeBBDD
DB_PASSWORD =TuContraseña
DB_PORT     =5432

# URL de conexión directa (Requerida en Vercel/Supabase)
# POSTGRES_URL=postgres://usuario:contraseña@servidor:puerto/nombre_bd

# Secreto para JWT (Seguridad de autenticación)
JWT_SECRET=ClaveSecreta123
